<!DOCTYPE html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        <center>PA-Q!</center>
        {{ inspected_queue.name }}
        <div id="current_num">{{ inspected_queue.current_number }}</div>

        <script src="/static/kyc/webcam.js"></script>
        <div id="my_camera" style="width:320px; height:240px;"></div>
        <h3> User Face: </h3>
        <div id="my_base"></div>
        <form action="{% url 'queuer:compare_faces' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="image" name="image">
            <input type="hidden" id="queue_name" name="queue_name" value="{{ inspected_queue.name }}">
            <input type="submit" value="Submit" />
        </form>

        <script language="JavaScript">
            Webcam.attach('#my_camera');

            function take_model() {
                Webcam.snap(function(data_uri) {
                    document.getElementById('my_base').innerHTML = '<img src="' + data_uri + '"/>';
                    document.getElementById('image').value = data_uri;
                });
            }
        </script>

<a href="javascript:void(take_model())">Take UserFace</a>
    </body>
<html>
